<p>contacts works!</p>
<!-- <app-contact-list [index]=i></app-contact-list> -->
<!-- <app-contact-detail ></app-contact-detail>
<app-fav></app-fav>
  -->
  <section class="jumbotron text-center" style="background-color: rgb(230, 212, 243); height: 200px; width: 50%; margin-top: 0px;">
      <h2>A phone book is a book that contains an <br>alphabetical list of the names,
         e-mail addresses,  and phone numbers of the<br> people in a  town or area.</h2>
       </section> 
       <section class="jumbotron text-center" style="background-color: rgb(241, 227, 252); height: 250px; width: 50%; margin-left: 50%;">
          
           </section> 