
  <nav class="navbar navbar-default" style="background-color: rgb(218, 182, 243); height: 50px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <strong>MyPhoneBook</strong></a>
      </div>

      <ul class="nav navbar-nav">
        <!-- <li routerLinkActive="active"><a routerLink="/contact" >HOME</a></li> -->
        <li routerLinkActive="active"><a routerLink="/contact-list">All CONTACTS</a></li>
        <li routerLinkActive="active"><a routerLink="/fav">FAVOURITES</a></li>
        <li routerLinkActive="active"><a routerLink="/emergency">EMERGENCY</a></li>
      </ul>
      
     
    </div>
    
  </nav>
  <section class="jumbotron text-center" style="background-color: rgb(241, 227, 252); height: 200px;;">
        <div class="container">
            <h1 class="jumbotron-heading">MyPhoneBook</h1>
            <p class="lead text-muted mb-0">-Manages your Contacts</p>
        </div>
        
    </section>
  