<p>contact-item works!</p>
<!-- <table style="width:100% " border="2px" >
        <thead >
           <tr style="font-size: x-large;">
                   <th> CONTACT NAME</th>
                 
                   <th>CONTACT NUMBER</th>
                   <th>EMAIL</th>
           </tr>
               
        </thead>  
   
       <tr *ngFor="let contact of contacts"  style="font-size: large;" (click)="onSelected()" >
         <td><span style="margin-left: 10px;"><img 
           [src]="contact.image"
            alt="{{contact.name}}"
            class="image-responsive"
            style="max-height: 30px; text-align: center;"></span>
            {{contact.name}} </td>
        
         <td>{{contact.cnumber}}</td>
         <td>{{contact.email}}</td>
       </tr>
    
   </table> -->
    